<!DOCTYPE HTML>
<html>
	<head>
		<title>Upload Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<link rel='shortcut icon' type='image/x-icon' href="../static/favicon.ico?" />
	</head>
	<body>

			<header id="header">
				<h1 style="color: #FED8B1"><a href="index.html">Trinity<span></span></a></h1>
			</header>

				<section id="banner">
					<div class="inner">
						<header>
							<h1 style="color: orange">Hackpions – EY GDS Hackathon &nbsp &nbsp &nbsp &nbsp <img src="../static/images/logo.png" width="200" height="200" style="float: right;"></h1>
						</header>
						
						<h3 style="color: orange">Theme: Image to Text Conversion &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h3>
						<h3 style="color: orange">"Smart OCR for Organizational Chart" by Team Trinity &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</h3>


						
						<form action="" enctype="multipart/form-data" method="POST">
							<label for="options"><h3 style="color: #FED8B1">Choose an option:</h3></label>
		 					<div class="select">
  								<select id="options" name="options">
    								<option selected disabled>Click to choose options from the dropdown menu</option>
    								<option value="op1">Convert any Document into Editable Document (Case Study 1)</option>
    								<option value="op2">Convert any Organizational Chart into Excel Document (Case Study 2)</option>
  								</select>
							</div>
							<br>
							<h4 style="color: #FED8B1">Upload your documents here:</h4>
							<span style="size: 60">
								<input multiple="multiple" name="file" type="file" /> 
								<input type="submit" value="Upload" />
							</span>
						</form>


						<br>
					</div>

				</section>

			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>